# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
var_1 = 256
var_2 = 256
print(var_1 == var_2)
print(id(var_1) == id(var_2))

True
True

В пайтоні числа в проміжку від -5 до 256 зберігаєються в пам'яті за допомогою механізму інтернування. Тобто при кожному виклику числа з цього проміжку не створюється новий об'єкт, а викликається вже наявний з цього пулу значень.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
type(True)

bool

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
a = 815
b = 4.8
print(
'a + b =', a + b,
'\na - b =', a - b,
'\na / b =', a / b,
'\na * b =', a * b,
'\na // b =', a // b,
'\na % b =', a % b,
'\na ** b =', a ** b)

a + b = 819.8
a - b = 810.2
a / b = 169.79166666666669
a * b = 3912.0
a // b = 169.0
a % b = 3.80000000000003
a ** b = 94092828068833.89

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
a = 815
b = 4.8
b_int = int(b)
c = True
int_c = int(c)
print("b float: ",b, type(b))
print("b integer: ",b_int, type(b_int))
print("c boolean: ",c, type(c))
print("c integer: ",int_c, type(int_c))

b float:  4.8 <class 'float'>
b integer:  4 <class 'int'>
c boolean:  True <class 'bool'>
c integer:  1 <class 'int'>

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
#1
print()
#2
a = ' '
print(a)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
my_str = "I'm"
raw_str = r"I'm"
print(my_str, raw_str)

I'm I'm

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Kryvych"
foramatted_surname = f"My surname is {surname}"
print(foramatted_surname)

My surname is Kryvych

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
sentence = "My dog is crazy"
split_sentence = (sentence.split())
split_sentence

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [2]:
my_list = [1, 2, 3]
other_list = list((3, 2, 1))
print(my_list)
print(other_list)

[1, 2, 3]
[3, 2, 1]

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [3]:
a = [5, 10]
b = [15, 20]
a.append(b)
a

[5, 10, [15, 20]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [6]:
a = [[1,2], [3,4], [5,6]]
a_last = a[-1][0]
a_last

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [11]:
a = [1, 2, True, 'hello', (5, 6), 75, False, 'world', 9, 10]
new_a = a[2:8]
new_a

[True, 'hello', (5, 6), 75, False, 'world']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [13]:
one_tuple = (1)
one_tuple

1

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список можна змінювати, кортеж - ні. Списки краще використовувати для коли треба додавати/видаляти елементів, кортеж - коли треба діставати конкретні елементи.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [6]:
a = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
a_backwards = a[::-1]
a_even = a_backwards[0::2]
a_even

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [15]:
empty_set = set()
empty_set.add('hello')
empty_set

SyntaxError: invalid syntax (<ipython-input-15-a36c11a452a3>, line 2)

*місце для текстової відповіді

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [19]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = {'1', '1', '2', '67', '67', '8', '9'}
my_set

{'1', '2', '67', '8', '9'}

прибираються елементи, які дубулюються

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [24]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(union_set)
difference_set = set1.difference(set2)
print(difference_set)
intersection_set = set1.intersection(set2)
print(intersection_set)
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [30]:
empty_dict = {}
empty_dict[42] = "Це число"
empty_dict["ключ"] = "Це рядок"
empty_dict[(1, 2, 3)] = "Це кортеж"
empty_dict[True] = "Це булеве значення"
empty_dict

{42: 'Це число',
 'ключ': 'Це рядок',
 (1, 2, 3): 'Це кортеж',
 True: 'Це булеве значення'}

*місце для текстової відповіді

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [12]:
dict_1 = {
    'level-1': {
        'level-2': 'hello'
    }
}
deep_level = dict_1['level-1']['level-2']
print(deep_level)

hello

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.